<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static', filename='global.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='trackWorkout.css')}}" />
  </head>
  <body>
    <div class="workout-interface">
      <div class="div">
        <div class="welcome">
          <div class="text-wrapper">Let’s do Workout,</div>
          <div class="text-wrapper-2">Registered Name</div>
        </div>
        <div class="back"><div class="text-wrapper-3">Back to Dashboard</div></div>
        <div class="reset-workout"><div class="text-wrapper-4">Reset Workout</div></div>
        <div class="current-date-time">
          <div class="day-in-week">Monday</div>
          <div class="date">21-04-2025</div>
          <div class="time">12:34:56</div>
        </div>
        <div class="user-avatar"><img class="user" src="img/user-1.png" /></div>
        <div class="map">
          <div class="overlap-group"><img class="itinerary" src="img/itinerary-1.png" /></div>
          <div class="text-wrapper-5">Location</div>
        </div>
        <div class="track-area">
          <div class="overlap"><img class="heart-rate" src="img/heart-rate.png" /></div>
          <div class="text-wrapper-6">Track Workout</div>
          <div class="button-track"><div class="text-wrapper-7">TRACK !</div></div>
        </div>
        <div class="emergency-area">
          <div class="thermometer-wrapper"><img class="thermometer" src="img/thermometer-1.png" /></div>
          <div class="text-wrapper-8">Emergency?</div>
          <div class="button-SOS"><div class="text-wrapper-7">S.O.S.</div></div>
        </div>
        <div class="summary-workout">
          <div class="speed">
            <div class="unit-speed">km/h</div>
            <div class="track-speed">----</div>
            <div class="text-wrapper-9">Speed</div>
          </div>
          <div class="gym-wrapper"><img class="gym" src="img/gym-1.png" /></div>
          <div class="text-wrapper-10">Summary</div>
          <div class="time-2">
            <div class="text-wrapper-9">Time</div>
            <div class="track-time">-:--:--</div>
          </div>
          <div class="pace">
            <div class="unit-pace">min/km</div>
            <div class="text-wrapper-11">--:--</div>
            <div class="text-wrapper-9">Pace</div>
          </div>
          <div class="distance">
            <div class="text-wrapper-11">----</div>
            <div class="unit-distance">km</div>
            <div class="text-wrapper-9">Distance</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>